

<div style="text-align:center">
  <h1>
   {{ title }}
   </h1>
  </div>
   <div class="container">
    <nav class="navbar navbar-inverse">
     
            
                <a routerLinkActive="active" style='margin-right:16px'  routerLink="/users">Add User</a>
                <a routerLinkActive="active" style='margin-right:16px'  routerLink="/projects">Add Project</a>
                <a routerLinkActive="active" style='margin-right:16px'  routerLink="/tasks">Add Task</a>
                <a routerLinkActive="active" style='margin-right:16px' routerLink="/viewTasks">View Task</a>
       
    </nav>
    <router-outlet></router-outlet>
</div>



